* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** header **********/

header {
  margin: 20px 100px;
}

/********** main **********/

.container-miniatures {
  position: relative;
  height: 750px;
}

.miniatures {
  height: 680px;
  margin: 16px 4px;
}

.miniatures img {
  width: 70%;
  border: 2px solid transparent;
  position: relative;
  margin: 4px 0;
}

.miniatures img:hover {
  border: 2px solid #004c98;
  border-radius: 5px;
}

.nav-btn {
  margin: 0 4px;
}

.nav-btn button {
  border: none;
  background: transparent;
}

.big-img {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  height: 750px;
  position: relative;
}

.big-img img {
  width: 90%;
}

.big-img span {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 14px;
  color: #adadad;
}

.payment-menu-container {
  position: relative;
  width: 100%;
  height: 750px;
}

.payment-menu {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 16px 4px;
}

.payment-description h1 {
  font-size: 20px;
}

.payment-description p {
  font-size: 12px;
}

.payment-description span {
  font-size: 12px;
  margin-top: 4px;
}

.payment-description::after,
.pricing::after {
  content: "";
  border-bottom: 1px solid #adadad;
  height: 1px;
  width: 100%;
  margin: 16px 40px;
  opacity: 0.5;
}

.pricing h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}

.pricing span {
  font-size: 14px;
}

.buttons {
  padding-top: 16px;
}

.counter-btn {
  border-radius: 7px;
  border: 1px solid #e2e2e2;
}

.counter-btn p {
  margin: 0;
  font-size: 20px;
  padding: 16px 0;
}

.counter-btn button {
  border: none;
  background: transparent;
  font-size: 20px;
  padding: 16px 0;
}

.buy-btn button {
  color: white;
  border-radius: 7px;
  font-size: 20px;
  padding: 16px 0;
  font-weight: bold;
  border: none;
  background: #59c00b;
}

.secure-buy {
  text-align: end;
  margin-right: 20px;
}

.secure-buy span {
  color: #59c00b;
  font-size: 10px;
}

.resale-btn {
  padding-top: 16px;
}

.resale-btn button {
  color: white;
  border-radius: 7px;
  font-size: 20px;
  padding: 16px 0;
  font-weight: bold;
  border: none;
  background: #004c98;
}

.modal-img {
  width: 100%;
  text-align: center;
}

/**********     **********/ ;
