*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** main **********/

main nav ol li,
ol li a {
  font-size: 12px;
}
.container-miniatures {
  height: 750px;
}

.miniatures {
  height: 680px;
  margin: 16px 4px;
}

.miniatures img {
  width: 70%;
  border: 2px solid transparent;
  position: relative;
  margin: 4px 0;
}

.miniatures img:hover {
  border: 2px solid #004c98;
  border-radius: 5px;
}

.nav-btn {
  margin: 0 4px;
}

.nav-btn button {
  border: none;
  background: transparent;
}

.big-img {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  height: 100%;
  position: relative;
}

.big-img img {
  width: 90%;
}

.big-img span {
  width: 100%;
  font-size: 14px;
  color: #adadad;
}

.selo {
  width: 200px;
}

/***********  Menu de compra **********/

.buy-menu {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

/**********  Header do menu de compra **********/

.buy-menu-header h1 {
  font-size: 20px;
}

.buy-menu-header p {
  font-size: 12px;
}

.buy-menu-header span {
  font-size: 12px;
  margin-top: 4px;
}

.buy-menu-header::after,
.buy-menu-main::after {
  content: "";
  border-bottom: 1px solid #adadad;
  height: 1px;
  width: 100%;
  margin: 16px 40px;
  opacity: 0.5;
}

/**********  Main do menu de compra **********/

.buy-menu-main h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}

.buy-menu-main span {
  font-size: 14px;
}

.buttons {
  padding-top: 16px;
}

.counter-btn {
  border-radius: 7px;
  border: 1px solid #e2e2e2;
}

.counter-btn p {
  margin: 0;
  font-size: 20px;
  padding: 16px 0;
}

.counter-btn button {
  border: none;
  background: transparent;
  font-size: 20px;
  padding: 16px 0;
}

.buy-btn button {
  color: white;
  border-radius: 7px;
  font-size: 20px;
  padding: 16px 0;
  font-weight: bold;
  border: none;
  background: #59c00b;
}

.secure-buy {
  text-align: end;
  margin-right: 20px;
}

.secure-buy span {
  color: #59c00b;
  font-size: 10px;
}

.resale-btn {
  padding-top: 16px;
}

.resale-btn button {
  color: white;
  border-radius: 7px;
  font-size: 20px;
  padding: 16px 0;
  font-weight: bold;
  border: none;
  background: #004c98;
}

.modal-img {
  width: 100%;
  text-align: center;
}

.buy-menu-footer {
  width: 95%;
}

.buy-menu-footer p {
  font-weight: bold;
}

.delivery-tax-btn {
  position: relative;
  border-radius: 7px;
  font-size: 16px;
  height: 56px;
  font-weight: bold;
  border: 1px solid #adadad;
  background: transparent;
}

.delivery-tax-btn button {
  height: 100%;
  border: none;
  background: transparent;
  font-weight: bold;
}

.delivery-tax-btn input {
  height: calc(100% - 2px);
  border: none;
  outline: none;
  margin-left: 8px;
}

.table-color {
  background: #e2e2e2;
}

.table-half-color {
  background: #f0f0f0;
}

/**********  BOTÕES DE NAVEGAÇÃO DE INFO  **********/

.nav-info-container {
  height: 135px;
  margin-bottom: 64px;
}

.button-container {
  width: 312px;
  height: 135px;
  margin: 4px 8px;
}

.button-container button {
  border: 2px solid #004c98;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 0 40px;
  font-size: 20px;
  font-weight: bold;
  color: #004c98;
  background: transparent;
}

/**********  SEÇÃO: O QUE É  **********/

.product-text h1 {
  font-weight: bold;
  margin-bottom: 24px;
}

.container-product-text {
  color: white;
  background: #004c98;
  padding-top: 80px;
  padding-bottom: 200px;
}

.product-text {
  width: 25vw;
  margin: 0 0 24px 140px;
}

.product-img-bg {
  object-fit: cover;
}

.mockup-com-capa {
  position: absolute;
  bottom: 18vh;
  left: 40vw;
}

.mockup-com-capa img {
  width: 850px;
}

.container-text-info-footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 150px;
  padding: 0 140px;
  color: #004c98;
}

.text-info-footer {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 16px;
}

.text-info-footer img {
  border-radius: 50%;
  width: 100px;
}

.text-info-footer p {
  font-size: 1.2rem;
  font-weight: bold;
}

.benefits-text-container {
  width: 650px;
  background: #004c98;
  height: 500px;
  right: 100px;
}

.benefits-text {
  margin: 24px 0 0 80px;
  color: white;
}

.benefits-text h1 {
  font-size: 36px;
  font-weight: bold;
}

.benefits-text p {
  margin: 0;
  margin-left: 16px;
}

.instructions-container {
  background: #83bdd6;
  color: #004c98;
  font-weight: bold;
  font-size: 24px;
}

.instructions-container h1 {
  font-size: 36px;
  color: #004c98;
  font-weight: bold;
}

.instruction-card {
  width: 312px;
  height: 200px;
  background: #004c98;
  border-radius: 10px;
  color: white;
  padding-top: 80px;
  font-size: 16px;
}

.instruction-card-number {
  position: absolute;
  top: -35px;
  text-align: center;
  vertical-align: middle;
  color: #004c98;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  font-size: 40px;
  font-weight: bold;
}

.diluition-container {
  border: 1px solid #004c98;
  border-radius: 10px;
  height: auto;
  width: 100%;
  color: #004c98;
  font-weight: bold;
}

.diluition-container h1 {
  position: absolute;
  top: -25px;
  margin: 0 auto;
  left: 40%;
  right: 40%;
  text-align: center;
  background-color: #83bdd6;
  display: inline-block;
  padding: 0 10px;
}

.proportion {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.proportion p {
  font-size: 24px;
}

.ml-proportion {
  border: 1px solid white;
  padding: 2px 16px;
  border-radius: 30px;
}

.ml-proportion p {
  color: white;
}

.diluition-reference {
  width: 40vw;
  padding: 8px 16px;
  border: 1px solid #004c98;
  border-radius: 30px;
}

.diluition-reference .pink-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e23968;
}

.diluition-reference .blue-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00f5ff;
}

.what-to-do-container {
  background: #83bdd6;
  color: #004c98;
}

.what-to-do-description-container {
  background: #b4dbec;
  border-radius: 10px;
}

.caution-circle {
  top: 100px;
  height: 500px;
  width: 500px;
  border: 1px solid #004c98;
  border-radius: 50%;
}

.container-caution-img {
  height: 647px;
}

.caution-img img {
  width: 555px;
  padding-left: 50px;
}

.caution-text {
  margin-top: 80px;
  width: 540px;
}

.caution-text p {
  font-weight: normal;
}

.caution-text p:last-child {
  color: #f0f0f0;
}

.caution-text img {
  width: 100px;
}

.about-company-container {
  background: #004c98;
  color: white;
}

.about-company-container img {
  width: 70%;
}

.about-company-text-container {
  width: 808px;
  padding-right: 40px;
}

.recommendation-container {
  height: 864px;
}

.recommendation-container img {
  object-fit: cover;
}

.recommendation-container-text {
  margin-left: 140px;
  background: white;
  width: 812px;
  height: 700px;
  border-radius: 10px;
  padding: 72px 80px 0 80px;
  color: #004c98;
}

.recommendation-container-text h1 {
  font-size: 36px;
}

footer {
  background: #004c98;
  color: white;
  height: auto;
  width: 100%;
}

footer h2 {
  font-size: 20px;
  color: #83bdd6;
}

footer li {
  padding: 4px;
  list-style-type: none;
}

footer li a {
  text-decoration: none;
  color: white;
}

.footer-info {
  height: 1px;
  width: 80%;
  background: white;
  margin: 0 auto;
}

.social-media-footer {
  border: 1px solid white;
  border-radius: 10px;
}

.copyright {
  background: white;
  color: #248fbe;
}

/**********  Mobile  **********/

.container-product-text-mobile {
  padding: 80px 0;

  color: white;
  background: #004c98;
}

.mockup-com-capa-mobile {
  width: 70%;
  position: absolute;
  left: 15vw;
  bottom: 16px;
}

.container-img-mobile {
  width: 30px;
}

.benefits-mobile img {
  border-radius: 50%;
  width: 120px;
}

.benefits-mobile p {
  color: #004c98;
  font-weight: bold;
}

.benefits-mobile span {
  color: #004c98;
}

.benefits-text-mobile {
  padding: 24px 0 0 0px;
  background: #004c98;
  color: white;
}

.diluition-container-mobile {
  border: 1px solid #004c98;
  border-radius: 10px;
  height: auto;
  width: 80%;
  color: #004c98;
  font-weight: bold;
}

.diluition-container-mobile h1 {
  position: absolute;
  top: -25px;
  margin: 0 auto;
  left: 20%;
  right: 20%;
  text-align: center;
  background-color: #83bdd6;
  display: inline-block;
  padding: 0 10px;
}

.diluition-reference-mobile {
  width: 70vw;
  padding: 8px 16px;
  border: 1px solid #004c98;
  border-radius: 30px;
}

.diluition-reference-mobile .pink-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e23968;
}

.diluition-reference-mobile .blue-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00f5ff;
}

.recommendation-container-text-mobile {
  background: white;
  width: 100%;
  height: auto;
  padding: 72px 40px 0 40px;
  color: #004c98;
}
